@media(max-width: 740px) {
    main{
        display: flex;
        flex-direction: column;

    }

    .container-produto{
        display: flex;
        flex-direction: column;
        width: 350px;
        height: 600px;
    }

    .image-produto img{
        border-radius: 0;
        border-top-left-radius: 10px;
        border-top-right-radius: 10px;
    }

    .container-descricao-produto{
        margin-top: 10px;
        display: flex;
        gap: 10px;
    }
    
    .btn-cart{
        margin-top: 20px;
    }
}